<div th:fragment="header">
    <div class="bg-dark text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a href="/blog" class="text-decoration-none text-light mx-3">Blog</a>
                    <a href="/about" class="text-decoration-none text-light mx-3">About</a>
                    <a href="/view-criminals" class="text-decoration-none text-light mx-3">View Criminals</a>
                </div>
            </div>
        </div>
    </div>
</div>
